@media only screen and (min-width: 992px) {

    .content-wrapper {
        /* background-color: #fff; */
        color: #444;

        display: grid;

        grid-gap: 20px;
        grid-template-columns: 300px auto;
        grid-template-areas:
            "weather-summary  city-desc"
            "weather-forcast city-desc"
            "totalDrinksDisplay  city-desc";
        /* max-width: 600px; */
        overflow-wrap: break-word;
        margin-block: 20px;

    }


    /* html {
        background-color: #EFF6E0;
    } */

    /* body {
        margin: 0;
        display: grid;
        grid-template-columns: auto 80% auto;
    } */

    /* body>* {
        grid-column: 2;
    } */


    /* html {
        background-color: lightblue;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        height: auto;
        margin: 5%;
         width: auto; 
    } 
    */

    /* header {
        position: relative;
        text-align: center;
        background-color: #ea5f0cde;
        box-shadow: 0 0 10px #AEC3B0;
    } */

    /* h1 {
        font-size: 2em;
        color: white;
        align-self: center;
        margin-bottom: 0.25em;
    }

    header>img {
        width: 100%;
        box-shadow: 1px 1px 10px black;
        border-radius: 5px;
    } */

}

/* h2 {
    margin-bottom: 0;
    width: 95%;
}

a {
    color: rgb(46, 58, 139);
}

a:active {
    color: rgb(136, 81, 71);
} */


/* footer {
    background-color: rgb(46, 120, 139);
    ;
    position: relative;
    color: white;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
} */

/* Styles for the footer and it's child elements */
/* footer {
    box-shadow: 0 0 10px #01161E;
    background-color: #AEC3B0;
    font-family: 'Lato', sans-serif;
    color: #01161E;
    text-align: center;
    position: relative;
    padding: 1rem;
}

footer a {
    color: #01161E;
}

footer a:hover {
    text-shadow: 1px 1px 10px #cac6c6;
}

.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: yellow;
}

.logo {
    width: 6rem;
    display: block;
    margin-left: 8px;
}
section.wireframe {
    padding-right: 20px;
    display: block;
    grid-template-columns: 1100px 1fr;
    width: 100%;
}

.text-header {
    text-shadow: 1px 1px 20px #232323;
}

.text-shadow-content {
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px white;
}

.yellow-text-footer {
    color: yellow;
    margin-block: 5px;
}

.footer-line {
    margin-block: 5px;
} */