@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.imgAuto {
  max-width: 100%;
  max-height: 100%;
}

/* Random styling for html and body */
html {
  background-color: #EFF6E0;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 80% auto;
}

body>* {
  grid-column: 2;
}


/* Global Font Styles */
h1 {
  font-size: 2.8em;
  font-size: 2em;
  color: rgb(35 24 0);
  align-self: center;
  margin-bottom: 0.25em;

  /* color: rgb(0, 0, 0); */
  margin-bottom: 0.75rem;
  text-decoration: none;

}


h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.1em;
}

h1,
h2,
h3,
h4,
th {
  font-family: 'Yusei Magic', sans-serif;
}

p,
span,
div,
li,
td,
a {
  font-family: 'Lato', sans-serif;
}


/* Header styles and their elements */
header {
  position: relative;
  text-align: center;
  background-color: #ea5f0cde;
  box-shadow: 0 0 10px #AEC3B0;
}

header>span {
  display: block;
  color: #6b6968;
}

.subtext-title {
  overflow-wrap: break-word;
  margin-block: 16px;
}

nav {
  position: relative;
  top: 0;
}

nav>ul {
  margin: 0;
  padding: 0;
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0 0 10px hsl(0, 7%, 8%);

  font-size: 15px;
}

nav a {
  height: calc(100% - 2em);
}

nav a,
span.navR {
  padding: 1em 0;
  display: block;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  /* text-decoration: none; */
  color: white;
  background-color: #880000;
  box-shadow: 0 0 10px #598392;
}

nav a.at,
nav a:active,
span.navA {
  background-color: #df9723;
  box-shadow: 0 0 10px whitesmoke;
  font-weight: bold;
  padding: 1em 0;
}

nav a:hover,
span.navH {
  /* background-color: #85d379; */
  /* color: #000000; */
  font-weight: bold;
  padding: 1em 0;
  opacity: 0.5;
}

/* Styles for the main and the children of main */
main {
  padding: 1px 1em;
  background-color: white;
}

h2 {
  /* color: #229563; */
  color: rgb(0, 0, 0);
  font-weight: 200;
  font-size: x-large;
}

h3 {
  color: rgb(0, 0, 0);
  /* font-weight:px; */
  /* font-size: x-large; */
}

h4 {
  color: rgb(0, 0, 0);
  /* font-weight:50px; */
  /* font-size: x-large; */
}

.ws-h3 {
  /* color: rgb(50, 121, 207); */
  color: black;
}

.forcast-title {
  /* color: rgb(50, 121, 207); */
  color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.fa-google {
  background: #dd4b39;
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.fa-instagram {
  background: #125688;
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.header-bountiful {
  display: grid;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.full-width {
  background-image: url('/images/Fruit-Wallpaper1.jpeg');
  background-repeat: no-repeat;

}

.SpecDrink {
  background-image: url('/images/drink-image.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.special-drink-result-wrapper {
  background-color: white;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;

  border-style: groove;
}

.city-desc {
  grid-area: city-desc;
  overflow-wrap: break-word;
  border-style: groove;
  background-color: #ffe8e8;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;

}

.weather-summary {
  grid-area: weather-summary;
  overflow-wrap: break-word;
  border-style: groove;

  background-color: #ffe8e8;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.weather-forcast {
  grid-area: weather-forcast;
  overflow-wrap: break-word;

  border-style: groove;
  text-align: center;
  align-content: center;
  background-color: #ffe8e8;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.drinksDisplayParent {
  border-style: groove;
  background-color: #ffe8e8;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.totalDrinksDisplay {
  grid-area: totalDrinksDisplay;
  overflow-wrap: break-word;

  border-style: groove;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffe8e8;
}


.google-map {
  overflow-wrap: break-word;
  padding-block: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 0 10px hsl(0, 7%, 8%);
  /* background-color: #ffe8e8; */

}

.aboutus-wrapper {
  background-color: #cebea6;
}





/* section {
  padding: 0 1em;
}

section.grid {
  padding: 1rem;
  display: block;
  grid-template-columns: 1100px 1fr;
  padding-right: 50px;
  margin-left: 10px;
}

section.grid>img {
  display: block;
  grid-template-columns: 1100px 1fr;
  padding-right: 350px;
}

section.wireframe {
  padding: 1rem;
  display: block;
}

section.wireframe>img {
  display: block;
  margin-left: 5x;
}

section.personas {
  padding: 1rem;
  display: block;
  grid-template-columns: 1100px 1fr;
  margin-left: 50px;
  padding-right: 150px;
}

section.color-scheme {
  padding: 1rem;
  display: block;
  grid-template-columns: 1100px 1fr;
  margin-left: 50px;
  padding-right: 150px;
}

section.color-scheme>img {
  padding: 1rem;
  display: block;
  grid-template-columns: 1100px 1fr;
  padding-right: 550px;
}

section.map>img {
  padding: 1rem;
  display: block;
  padding-right: 550px;
  padding-left: 0;
}

section.typography {
  display: block;
  grid-template-columns: 1100px 1fr;
  padding-right: 150px;
} */

ul.more-spacing-bottom>li {
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

h4 {
  margin-left: 15px;
}

h4+p {
  margin-left: 30px;
}


/* Styles for the footer and it's child elements */
footer {
  box-shadow: 0 0 10px #01161E;
  background-color: #ea5f0cde;
  font-family: 'Lato', sans-serif;
  color: #01161E;
  text-align: center;
  position: relative;
  padding: 1rem;
}

footer a {
  color: #01161E;
}

footer a:hover {
  text-shadow: 1px 1px 10px #cac6c6;
}

.last-updated {
  padding-top: 0.5rem;
  display: block;
  font-size: 0.9rem;
  color: yellow;
}

.logo {
  width: 6rem;
  display: block;
  margin-left: 8px;
}

.gallery-history {
  padding: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-window {
  box-sizing: content-box;
  margin: 9px;
  /* height: 250px;
  width: 350px; */
  overflow: hidden;
  display: inline-block;
  /* color: white; */
  position: relative;
  /* background-color: white; */
}