@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Random styling for html and body */
html { background-color: #EFF6E0; }
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 80% auto;
}
body > * {
    grid-column: 2;
}


/* Global Font Styles */
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.1em;
}
h1, h2, h3, h4, th {
    font-family: 'Yusei Magic', sans-serif;
}
p, span, div, li, td, a {
    font-family: 'Lato', sans-serif;
}

/* Header styles and their elements */
header {
    position: relative;
    text-align: center;
    background-color: #ee0a1d;
    box-shadow: 0 0 10px #AEC3B0;
}
header > span {
    display: block;
    color: #6b6968;
}


h1 {
    color: rgb(245, 245, 11);
    margin-bottom: 0.75rem;
}
nav {
    position: relative;
    top: 0;
}
nav > ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 10px #598392;
 
    font-size: 15px;
}
nav a {
    height: calc(100% - 2em);
    }
nav a, span.navR {
    padding: 1em 0;
    display: block;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #598392;
    box-shadow: 0 0 10px #598392;
}
nav a.at, nav a:active, span.navA {
    background-color: #AEC3B0;
    box-shadow: 0 0 10px whitesmoke;
    font-weight: bold;
    padding: 1em 0;
}

nav a:hover, span.navH {
    background-color: #FF7D00;
    color: #b47630;
    font-weight: bold;
    padding: 1em 0;
}

/* Styles for the main and the children of main */
main {
    padding: 1px 1em;
    background-color: white ;
}
h2 {
    color: #598392;
}
h3 {
    color: #598392;
}

h4 {
    color: white;
}
section {
    padding: 0 1em;
}
section.grid {
    padding: 1rem;
    display: block;
    grid-template-columns: 1100px 1fr;
    padding-right: 50px;
    margin-left: 10px;
}
section.grid > img {
    display: block;
    grid-template-columns: 1100px 1fr;
    padding-right: 350px;
}

section.wireframe {
    padding: 1rem;
    display: block;
}

section.wireframe > img {
    display: block;
    margin-left: 5x;
  }

section.personas {
    padding: 1rem;
    display: block;
    grid-template-columns: 1100px 1fr;
    margin-left: 50px;
    padding-right: 150px;
}

section.color-scheme {
    padding: 1rem;
    display: block;
    grid-template-columns: 1100px 1fr;
    margin-left: 50px;
    padding-right: 150px;
}

section.color-scheme > img {
    padding: 1rem;
    display: block;
    grid-template-columns: 1100px 1fr;
    padding-right: 550px;
}

    section.map > img {
    padding: 1rem;
    display: block;
    padding-right: 550px;
    padding-left: 0;
}

section.typography {
    display: block;
    grid-template-columns: 1100px 1fr;
    padding-right: 150px;
}

ul.more-spacing-bottom > li {
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

h4 {
    margin-left: 15px;
}
h4 + p {
    margin-left: 30px;
}


/* Styles for the footer and it's child elements */
footer {
    box-shadow: 0 0 10px #01161E;
    background-color: #AEC3B0;
    font-family: 'Lato', sans-serif;
    color: #01161E ;
    text-align: center;
    position: relative;
    padding: 1rem;
}
footer a {
    color: #01161E;
}
footer a:hover {
    text-shadow: 1px 1px 10px #cac6c6;
}
.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: yellow;
}

.logo {
    width: 6rem;
    display: block;
    margin-left: 8px;
}

